<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogglyAppender" />
    </root>
    <appender name="LogglyAppender" type="log4net.loggly.LogglyAppender, log4net-loggly">
      <rootUrl value="https://fake.logs-01.loggly.com/" />
      <inputKey value="your-customer-token" />
      <tag value="your-custom-tag" />
      <logicalThreadContextKeys value="lkey1,lkey2,CommonProperty" />
      <!-- optional -->
      <globalContextKeys value="gkey1,gkey2,CommonProperty" />
      <!-- optional -->
    </appender>
  </log4net>
</configuration>